# Maven target directory
target/
lambda-assets/*.jar
dependency-reduced-pom.xml
release.properties

# IntelliJ IDEA
.idea/
*.iml
Junit.xml
.gradle

# IntelliJ personal config
*.iws

# IntelliJ build output
out/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.table.json
cdk-integ.out.*/

# Temporary files
*.tmp
*.bak

# Security
.aws/
.credentials
*.pem
*.key
*.crt
.env

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*




